.aboutUs__page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 0;
    margin: 2em;
    background-color: var(--background);
    color: var(--text);
}

.aboutUs__article {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em 4em;
    max-width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text);
}

.aboutUs__title {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.aboutUs__text {
    font-family: 'Open Sans', sans-serif;
    padding: .5em 0;
    margin: 0;
}

.aboutUs__imgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0 auto;
}

.aboutUs__img {
    width: 20em;
    height: fit-content;
    margin: 0;
}

@media (max-width: 768px) {
    .aboutUs__page {
        flex-direction: column;
        align-items: center;
        margin: 0 1em;
        gap: 1em;
    }

    .aboutUs__article {
        max-width: 90%;
        padding: 0;
    }

    .aboutUs__imgContainer {
        grid-template-columns: 1fr;
    }
}