.painter__container {
    display: flex;
    margin: 1em;
}

.painter__section {
    display: flex;
    flex-direction: column;
}
.painter__section.right {
    margin: 0;
    justify-content: space-between;
}
.painter__section.left {
    width: 100%;
    margin-right: 1em;
}

.painter__displayContainer {
    height: 100%;
    position: relative;
}

.painter__display {
    height: 100%;
    background-color: #fff;
    align-self: center;
    overflow: hidden;
}

.painter__display svg {
    height: 100%;
}

.painter__buttonContainer {
    display: grid;
    gap: .5em;
}

.painter__buttonContainer button {
    width: 100%;
    justify-content: space-between;
}

.painter__topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: darkviolet;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(0, 0);
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 1;
}

.painter__ProgressBarContainer {
    display: flex;
    align-items: center;
    gap: .5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin: .5em;
}

.painter__bar {
    height: 1em;
    border: 4px solid var(--primary);
    border-radius: .5em;
    width: 100%;
}

.painter__bar::-webkit-progress-bar {
    border-radius: .5em;
    background-color: var(--primary);
}
.painter__bar::-webkit-progress-value {
    border-radius: .5em;
    background-color: var(--secondary);
}
.painter__bar::-moz-progress-bar {
    border-radius: .5em;
    background-color: var(--secondary);
}

@media (max-width: 768px) {
    .painter__container {
        flex-direction: column;
        align-items: center;
        gap: .5em;
        margin: .5em;
    }

    .painter__section{
        width: calc(100% - 2em);
    }

    .painter__section.left{
        margin: 0;
    }

    .painter__section.right {
        gap: 1em;
    }
    .painter__display {
        height: 50vh;
        align-self: center;
    }

    .painter__buttonContainer {
        gap: .5em;
        grid-template-columns: 1fr 1fr
    }
    .painter__buttonContainer button:first-of-type {
        grid-column: span 2;
    }
}