.painter__container {
    display: flex;
    margin: 1em;
}

.painter__section {
    display: flex;
    flex-direction: column;
}
.painter__section.right {
    margin: 0;
    justify-content: space-between;
}
.painter__section.left {
    width: 100%;
}

.painter__display {
    height: 100%;
    background-color: grey;
    align-self: center;
}

.painter__buttonContainer {
    display: grid;
    gap: .5em;
}

.painter__buttonContainer button {
    width: 100%;
    justify-content: space-between;
}

.painter__topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

@media (max-width: 768px) {
    .painter__container {
        flex-direction: column;
        align-items: center;
        gap: .5em;
        margin: .5em;
    }

    .painter__section{
        width: calc(100% - 2em);
    }

    .painter__section.right {
        gap: 1em;
    }
    .painter__display {
        height: 50vh;
        align-self: center;
    }

    .painter__buttonContainer {
        gap: .5em;
        grid-template-columns: 1fr 1fr
    }
    .painter__buttonContainer button:first-of-type {
        grid-column: span 2;
    }
}