.welcome__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text);
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, rgba(7, 12, 24, 0.8) 10%, rgba(7, 12, 64, 0.4) 40%, rgba(7, 12, 24, 0.1) 70%);
    background-size: 200% 200%;
    animation: pulse 3s infinite alternate ease-in-out;
}

@media (prefers-color-scheme: light) {
    .welcome__main {
        background: radial-gradient(circle, rgba(239, 234, 222, 0.8) 10%, rgba(209, 204, 232, 0.4) 40%, rgba(239, 234, 222, 0.1) 70%);
    }
}

@keyframes pulse {
    0% {
        background-size: 150% 150%;
    }
    100% {
        background-size: 100% 100%;
    }
}


.welcome__title {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 1em 1em 0;
}
.welcome__subtitle {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}