.progressBar__container {
    display: flex;
    align-items: center;
    gap: .5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin: .5em;
}

.progressBar__bar {
    height: 1em;
    border: 4px solid var(--primary);
    border-radius: .5em;
    width: 100%;
}

.progressBar__bar::-webkit-progress-bar {
    border-radius: .5em;
    background-color: var(--primary);
}
.progressBar__bar::-webkit-progress-value {
    border-radius: .5em;
    background-color: var(--secondary);
}
.progressBar__bar::-moz-progress-bar {
    border-radius: .5em;
    background-color: var(--secondary);
}

.progressBar__time {
    color: var(--text);
    padding: 0 4px;
}

@media (max-width: 768px) {
    .progressBar__container {
        display: grid;
        grid-template-rows: 1fr;
    }

    .progressBar__bar {
        grid-column: 1 / span 2;

    }
    .progressBar__time {
        grid-row: 2;
    }
    .progressBar__time:last-of-type {
        text-align: end;
    }
}
