.status__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: .5em;
}

.status__container--welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0;
    padding: 1em;
}
.status__container--welcome.con {
    background-color: var(--statusCon);
    border-top: 4px solid var(--statusConB);
}
.status__container--welcome.dis {
    background-color: var(--statusDis);
    border-top: 4px solid var(--statusDisB);
}

.status__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: var(--text);
    margin: 0;
}

.status__text--welcome {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: var(--text);
    margin: 0;
}

.status__connectButton {
    position: relative;
}

.status__connectButton:hover .status__tooltiptext {
    visibility: visible;
}

.status__tooltiptext {
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 90%;
    font-size: 1rem;
    color: var(--text);
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: .5em;
    padding: .5em;
    width: 10em;
}

@media (max-width: 768px) {
    .status__container {
        margin: 0;
    }
    .status__text--welcome {
        font-size: 1.4rem;
    }
}